body {
	font-family: 'Noto Sans TC', 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Microsoft JhengHei', Roboto, 'Helvetica Neue', Arial, sans-serif;
	line-height: 1.5;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

.font-noto-sans {
	font-family: 'Noto Sans TC', sans-serif;
}

.font-roboto {
	font-family: 'Roboto', sans-serif;
}

@include media-breakpoint-up(lg) {
	.position-lg-absolute {
		position: absolute;
	}
	.translate-lg-middle {
		transform: translate(-50%, -50%);
	}

	.translateY-lg-middle {
		transform: translate(0, -50%);
	}
}

$utilities: map-merge(
	$utilities,
	(
		'font-weight': (
			medium: 500,
		),
	)
);

.object-cover {
	object-fit: cover;
}
