<div
	class="banner-img d-flex"
	style="
		background-image: url('https://github.com/hexschool/webLayoutTraining1st/blob/master/exhibition-week6/ricardo-gomez-angel-UrOZTfXT0h0-unsplash%20(1).jpg?raw=true');
	"
>
	<div class="container align-self-end text-white mb-14 align-self-md-center mb-md-0">
		<div class="row">
			<div class="col-12 offset-md-1 mb-2">
				<h1 class="fs-2 fw-bold">台北當代藝術展</h1>
			</div>
			<div class="col-12 offset-md-1 mb-4">
				<div class="font-roboto fw-bold">01 JUN - 31 OCT</div>
			</div>
			<div class="col-6 col-md-2 offset-md-1">
				<a href="" class="btn btn-primary text-white w-100" href="#" role="button">購買票券</a>
			</div>
			<div class="col-6 col-md-2">
				<a href="" class="btn btn-outline-primary text-white w-100">詳細資訊</a>
			</div>
		</div>
	</div>
</div>
