<footer>
	<div class="container d-flex justify-content-md-between align-items-center py-6">
		<div class="d-flex flex-column flex-md-row align-items-md-center">
			<h3>EXHIBINECTION</h3>
			<p class="m-0 ms-md-4">© 2020. All Rights Reserved.</p>
		</div>

		<ul class="nav d-none d-md-flex">
			<li class="nav-item"><a class="nav-link" href="#">Sign in</a></li>
			<li class="nav-item"><a class="nav-link" href="#">Sign up</a></li>
		</ul>
	</div>
</footer>
