<div
	class="jumbotron-img d-flex"
	style="
		background-image: url('https://github.com/hexschool/webLayoutTraining1st/blob/master/exhibition-week6/wladislaw-peljuchno-Y_f1aHpR1tc-unsplash.jpg?raw=true');
	"
>
	<div class="container align-self-end text-white">
		<div class="row">
			<div class="col-12 mb-5 mb-md-2">
				<div class="fs-4 fs-md-2 fw-bold">
					想收到最新消息嗎？ <br />
					快訂閱我們！
				</div>
			</div>
			<div class="col-12 col-md-4 mb-7">
				<div class="input-group">
					<input type="email" class="form-control" placeholder="輸入您的電子信箱" aria-label="輸入您的電子信箱" />
					<button class="btn btn-primary px-9 py-3" type="button">訂閱</button>
				</div>
			</div>
		</div>
	</div>
</div>
