<section class="mb-5 my-md-11">
	<div class="container">
		<h4 class="fs-2 fw-bold mb-1 mb-md-5">猜你也喜歡...</h4>
		<div class="row g-4">
			<div class="col-12 col-md-4 offset-md-1">
				<div class="card border-0">
					<img
						src="https://github.com/hexschool/webLayoutTraining1st/blob/master/exhibition-week6/ricardo-gomez-angel-WxpnuLzqZN4-unsplash.jpg?raw=true"
						class="card-img-top card-img"
						alt="No.22 線上設計展"
					/>
					<div class="card-body p-0 mt-1 g-2">
						<h5 class="card-title fs-5">No.22 線上設計展</h5>
						<div class="font-roboto">$350</div>
					</div>
				</div>
			</div>

			<div class="col-12 col-md-4">
				<div class="card border-0">
					<img
						src="https://github.com/hexschool/webLayoutTraining1st/blob/master/exhibition-week6/petri-heiskanen-bR9gFJqAnzA-unsplash.jpg?raw=true"
						class="card-img-top card-img"
						alt="No.22 線上設計展"
					/>
					<div class="card-body p-0 mt-1 g-2">
						<h5 class="card-title fs-5">No.22 線上設計展</h5>
						<div class="font-roboto">$350</div>
					</div>
				</div>
			</div>

			<div class="col-12 col-md-3">
				<div class="card border-0">
					<img
						src="https://github.com/hexschool/webLayoutTraining1st/blob/master/exhibition-week6/museums-victoria-kiDwVL_5ZBY-unsplash%20(1).jpg?raw=true"
						class="card-img-top card-img"
						alt="No.22 線上設計展"
					/>
					<div class="card-body p-0 mt-1 g-2">
						<h5 class="card-title fs-5">No.22 線上設計展</h5>
						<div class="font-roboto">$350</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
