.banner-img {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 480px;
}

.card-img {
	object-fit: cover;
	height: 350px;
	width: 100%;
}

.jumbotron-img {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 400px;
}
