.offcanvas-header-position {
	top: 56px;
	width: 100%;

	@include media-breakpoint-up(md) {
		top: 88px;
		width: 540px;
	}
}

.offcanvas-body {
	img {
		width: 100px;
		height: 100px;

		@include media-breakpoint-up(xs) {
			width: 120px;
			height: 120px;
		}
	}
}

.offcanvas {
	/* width */
	::-webkit-scrollbar {
		width: 2px;
	}

	/* Track */
	::-webkit-scrollbar-track {
		background: #f1f1f1;
	}

	/* Handle */
	::-webkit-scrollbar-thumb {
		background: $primary;
	}

	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
		background: #555;
	}
}
